html,
body {
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Segoe UI SemiBold";
  font-size: 30pt;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.flex_container {
  display: flex;
  flex-direction: row;
  width: 100%
}

 .block_map {
  padding-left: 100px;
  flex-grow: 1;
  margin: auto;
}

.block_chart {
  padding-top: 20%;
  flex-grow: 1;
}

.map{
  fill : white;
  stroke: grey;
  opacity: 0.5
}

.dot{
  stroke: 1;
}

.chart_title {
  font-family: "Segoe UI SemiBold";
}

.chart_label {
  font-family: "Segoe UI Light";
}

.legend_text {
  font-family: "Segoe UI Light";
}

.time_text {
  font-family: "Segoe UI SemiBold";
  font-size: 20pt;
}
